form.actions {
    display: inline;
}

a.submit {
    text-decoration: none;
}

a.submit:hover {
    text-decoration: underline;
}

.files-list {
    margin-bottom: 1em;
}

.files-list td {
    border: 1px solid black;
    padding: 4px 8px;
}