.body{
    font-family: 'Inter', system-ui;
    font-style: normal;
}

header{
    text-align: center;
    background-color: #829A3D;
    width: 100%;
    font-size: 3.5rem;
    padding: 1.5rem 0 1.5rem 0;
    color: #FFF0AE;
    font-weight: 600;
    z-index: 101;
    position: fixed;

}

.menu-logo{
    /*background-image: url(""); !*TODO: ask where to put image*!*/
    width: 48px;
}



.content h1{
    font-weight: 500;
    font-size: 3rem;
    color: #000000;
    padding: 0.7rem 0 1rem 0;
    text-align: center;
}

.navigation nav{
    position: fixed;
    display: flex;
    /*display: none;*/
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    height: 100%;
    width: 80%;
    margin-top: 6.2rem;
    padding-top: 1.5rem;
    transition-duration: 200ms;
    background: #FFF0AE;

    font-size: 3rem;
    font-weight: 700;
}


#menu_button{

}
#menu_button:checked + nav{
    transform: translateX(50%);
    background: black;
}

.navigation .menu-item{
    background: #F3A25F;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 100;
    height: fit-content;
    width: 80%;
    border-radius: 3px;

    margin: 0.5rem 0.5rem;
    padding: 1rem 1rem;
    text-decoration-line: unset;

    text-underline: none;
    text-underline-style: none;
    font-family: 'Inter', system-ui;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;


    color: #5B5E35;
}

.content{
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    margin-top: 5.5rem;
}

.short-contests .info-box {
    display: flex;
    font-size: 2rem;
    height: fit-content;

}

.short-contests .info-box{
    display: flex;
    font-size: 2rem;
    height: fit-content;
    flex-direction: column;
}

.results-and-description{
    display: none;
}

.short-contests .info-box .info {
    display: flex;
    overflow-wrap: break-word;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 1rem 1rem;
    line-height: 2.5rem;
    background-color: #FCEAA4;
    border-radius: 5px;
    padding: 1.5rem 2rem 2rem 2rem;
    width: 80vw;
    max-width: 74ch;

}


.header.big-title{
    font-weight: 700;
}

.contest-status-info{
    font-weight: 700;
    font-size: 1.8rem;
    color: #A51E00;
}

.contest-status-info .title{
    font-weight: 400;
    color: #000000;
}


.info .contest-select{
    margin-top: 2rem;
}

.link-button{
    background-color: #5B5E35;
    color: white;
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-decoration-line: unset;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    /*font-size: 1.5rem;*/
    /*line-height: 2rem;*/
    border-radius: 3px;

}

.info .extra-contest-info{
    display: none; /*#TODO: ask why do we need it*/
}

footer{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;

    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;

    color: #ffffff;
    background-color: #829A3D;
}

.developed-in-kio{
    padding-bottom: 10px;
}

.developed-in-kio a{
    color: #ffffff;
}

.copyright{
    padding: 0.7rem 0 1rem 0;
}