*{
    /*colors----------------------------------*/

    --header-background-color: #AAC025;
    --header-text-color: #FFFFFF;
    --header-border-color: #AAC025;

    --contest-background-color: #FCEAA4;
    --contest-warning-color: #A51E00;

    --menu-background-color: #FFF0AE;
    --menu-block-color: #F3A25F;
    --menu-text-color: #5B5E35;

    --defult-text-color: black;
    --button-text-color: white;
    --button-background-color: #829A3D;
    --link-button-background-color: #5B5E35;
    --links-text-color: #4d502d;

    --footer-text-color: white;
    --footer-background-color: #829A3D;

    --error-background: #ffd5bf;

    /*offsets---------------------------------*/

    --header-height: 7vh;


    /*fonts----------------------------------------*/

    --header-font-size: 2.5rem;
    --page-header-font-size: 3rem;
    --page-second-header-font-size: 2.5rem;
    --menu-button-font-size: 3rem;
    --info-box-header-font-size: 2rem;
    --info-box-text-font-size: 1.7rem;
    --info-box-button-font-size: 2rem;
    --footer-font-size: 1.5rem;
    --input-font-size: 3rem;
    --input-header-font-size: 3rem;
    --form-button-font-size: 3.5rem;
    --enter-credentials-font-size: 2.5rem;
    --link-font-size: 2.5rem;

}

html {
    width: 100%;
    height: 100%;
    display: table;
}

body {
    width: 100%;
    display: table-cell;
    position: relative;
    background: linear-gradient(171.99deg, #FFFA8A 6.66%, #FFFCBE 93.61%);
}

html, body {
    margin: 0;
    padding: 0;
}

header{
    position: fixed;
    text-align: center;
    width: 100vw;
    height: var(--header-height);

    background: transparent;

    font-size: 4.5rem;
    color: var(--header-text-color);
    font-weight: 600;
    z-index: 101;



    line-height: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.extra-navigation{
    background: linear-gradient(91.76deg, #9EB410 0%, #AFC715 55.66%, #B9D213 90.57%);
    box-shadow: 10px 10px 20px rgba(112, 119, 67, 0.2), 5px 5px 10px rgba(112, 119, 67, 0.6);
    border-bottom-right-radius: 12rem;
    border-bottom: 2px var(--header-border-color) solid;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.header-text{
    margin-left: calc(36px + 3.2rem);
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    line-height: 43px;
    text-align: center;
    color: #FFFFFF;

}

.menu-logo{
    background-image: url("../../images/menuLogo/marklines.png");
    background-repeat: no-repeat;
    transform: scale(1.9);
    vertical-align: middle;
    -webkit-appearance: none;

    width: 36px;
    height: 30px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    margin-top: calc(var(--header-height)/2.5);
    margin-left: 3.2rem;

    transition-duration: 200ms;
    transition-timing-function: ease-in-out;

}

#menu_button{

}

#menu_button:checked{
    background-image: url("../../images/menuLogo/markcross.png");
    width: 40px;
    height: 41px;
    margin-top: calc(var(--header-height)/3);
    margin-left: 2.9rem;
    transform: scale(1.7);
}

#menu_button:checked + nav{
    transform: translateX(0%);
    display: flex;
    background: linear-gradient(167.82deg, #FFE34F 11.05%, #FFFDD2 100%);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15), 5px 5px 5px rgba(0, 0, 0, 0.25);
    border-bottom-right-radius: 2rem;



}

.content h1{
    font-size: var(--page-header-font-size);
    padding: 0.7rem 0 1rem 0;
    text-align: center;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    align-self: center;
}

.content:has(.form-field-input) h1{
    display: none;
}

.navigation{
    z-index: 1;
}

.navigation nav{
    position: fixed;
    display: flex;
    transform: translateX(-100%);
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    height: 100%;
    width: 80%;
    top: 0;
    margin-top: var(--header-height);
    padding-top: 1.5rem;
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
    background: var(--menu-background-color);
    font-size: var(--menu-button-font-size);
    font-weight: 700;
}

.navigation .menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 100;
    height: fit-content;
    width: 80%;


    margin: 0.5rem 0.5rem;
    padding: 1rem 1rem;
    text-decoration-line: unset;

    text-underline: none;
    text-underline-style: none;
    font-family: 'Inter', system-ui;
    font-style: normal;
    font-weight: 700;
    color: var(--menu-text-color);

    /*background: linear-gradient(93.79deg, rgba(255, 107, 0, 0.5) 0%, rgba(255, 168, 0, 0.5) 57.81%, rgba(255, 199, 0, 0.5) 100%);*/
    opacity: 0.74;
    /*box-shadow: 5px 5px 10px #8F875B;*/
}

.content{
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    margin-top: calc(var(--header-height));
    margin-bottom: 8rem;
}

.content:has(.info-box){
    align-items: flex-start;
}

/*links*/

.info .header a{
    font-size: var(--link-font-size);
    color: var(--links-text-color);
}

.additional-navigation a{
    font-size: var(--link-font-size);
    line-height: 5rem;
}

/*----*/

.info-box{
    display: flex;
    font-size: var(--info-box-header-font-size);
    height: fit-content;
    flex-direction: column;
}

.results-and-description{
    width: 100%;
}

.results-and-description tbody > tr > td:first-child{
    width: 100%;
}

.results-and-description tbody > tr > td{

}

.results-and-description tbody > tr > td:nth-child(2){
    font-weight: bold;
    color: var(--contest-warning-color);
    padding-right: 11vh;
}

.results-and-description .header{
    font-weight: bold;
    font-size: var(--info-box-text-font-size);
    width: 100%;
}

.contest-action a{
    color: var(--links-text-color);
}

.info-box {
    display: flex;
    overflow-wrap: break-word;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 1rem 1rem;
    line-height: 2.5rem;
    background-color: var(--contest-background-color);
    border-radius: 5px;
    padding: 1.5rem 2rem 2rem 2rem;
    width: 80vw;
    max-width: 74ch;

}

.info-box-registration{
    display: flex;
    overflow-wrap: break-word;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    line-height: 2.5rem;
    border-radius: 5px;
    padding: 1.5rem 0 2rem 0;
    width: 100%;
    max-width: 74ch;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.6);
}


.info-box-registration .info-registration {
    width: 100%;
    padding-left: 4vw;
    background: linear-gradient(93.79deg, rgba(255, 107, 0, 0.6) 0%, rgba(255, 168, 0, 0.6) 57.81%, rgba(255, 199, 0, 0.6) 100%);
    opacity: 0.74;
    box-shadow: 5px 5px 10px #8f875b;
    border-bottom-right-radius: 10rem;
    border-top-right-radius: 10rem;
    height: 8vh;
    display: flex;
    align-items: center;
    z-index: -1;
}

.info-box .info a{
    text-decoration: none;
}

.results-and-description p{
    font-weight: 400;
    font-size: 2.1rem;
    line-height: 2.8rem;
    color: rgba(0, 0, 0, 0.6);
    padding: 1.5rem 0 0 4rem;
    font-family: 'Rubik';
    font-style: normal;
}


.header.big-title{
    font-weight: 700;
}

.contest-status-info{
    font-weight: 700;
    font-size: var(--info-box-text-font-size);
    color: var(--contest-warning-color);
}

.contest-status-info .title{
    font-weight: 400;
    color: var(--defult-text-color);
}


.info .contest-select{
    margin-top: 2rem;

}

.link-button, .additional-navigation a{
    background-color: var(--link-button-background-color);
    color: var(--button-text-color);
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-decoration-line: unset;
    font-size: var(--info-box-button-font-size);
    font-style: normal;
    width: fit-content;
    font-weight: 600;
    border-radius: 3px;
    white-space: nowrap;
}

.additional-navigation ul{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 5vh;
    gap: 2rem;
    margin-left: 2rem;
    align-items: center;
}

.info .extra-contest-info{
    font-size: var(--info-box-text-font-size);
}

.info .extra-contest-info .data{
    font-weight: bold;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: var(--footer-font-size);
    font-weight: 400;
    text-align: center;
    font-family: 'Rubik', serif;
    font-style: normal;
    border-top-left-radius: 11rem;
    color: var(--footer-text-color);
    background: linear-gradient(271.36deg, #C7CB12 0%, #D3D720 91.63%);
    box-shadow: -10px -10px 20px rgb(112 119 67 / 20%), -5px -5px 10px rgb(112 119 67 / 60%);
    justify-content: space-around;
    align-items: center;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

.footer-hidden{
    transform: translateX(87vw);

}

.footer-text{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-evenly;
    font: inherit;

}

.copyright-logo{
    background-image: url("../../images/copyright.svg");
    width: 28px;
    height: 28px;
    transform: scale(2);
    background-color: transparent;
    border-style: none;
    margin-left: 6vw;
}

.developed-in-kio{
    padding-bottom: 10px;
    margin-left: 3rem;
    font-family: 'Rubik';
    font-style: normal;
    text-align: left;
}

.developed-in-kio a{
    color: var(--footer-text-color);
}

.copyright{
    padding: 0.7rem 0 1rem 0;
    margin-left: 3rem;
    font-family: 'Rubik';
    font-style: normal;
    text-align: left;
}

/* Вход */
.input-text{
    font-size: var(--input-font-size);
    margin: 1rem 0 1rem 0;
    font-weight: 400;

    background: #FFFBAA;
    box-shadow: 1px 1px 2px rgba(255, 255, 187, 0.3), -1px -1px 2px rgba(230, 226, 153, 0.5), inset -5px 5px 10px rgba(230, 226, 153, 0.2), inset 5px -5px 10px rgba(230, 226, 153, 0.2), inset -5px -5px 10px rgba(255, 255, 187, 0.9), inset 5px 5px 13px rgba(230, 226, 153, 0.9);
    border-radius: 60px;
    border-style: none;
    padding: 0.5em 1em 0.5em 1em;
    color: rgba(0, 0, 0, 0.5);

}

.input-text::placeholder{
    color: rgba(0, 0, 0, 0.5);
}


.controls{
    font-size: var(--input-header-font-size);
    margin: 2rem 0 0 0;
}
.controls label{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.5);
}

.form-button{
    padding: 0.5em 1em 0.5em 1em;
    text-decoration-line: unset;
    font-size: var(--form-button-font-size);
    margin: 1rem 0 1rem 0;

    background: linear-gradient(89.51deg, rgba(198, 215, 1, 0.8) 15.28%, rgba(255, 199, 0, 0.8) 107.32%);
    box-shadow: 10px 10px 20px rgba(112, 119, 67, 0.2), 5px 5px 10px rgba(112, 119, 67, 0.6);
    border-radius: 60px;

    border-style: none !important;

    font-family: Rubik, serif;
    font-size: 4em;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;



    font-style: normal;

    text-align: center;
    text-transform: lowercase;

    color: #FFFFFF;
}
.form-actions{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls small{
    color: var(--contest-warning-color);
    display: none;
}

p[enter_credentials]{
    font-size: var(--enter-credentials-font-size);
    margin: 2rem 0 0 0;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.5);

}

/* Восстановление пароля */

.warning{
    margin: 2rem 0 0 0;
    /*color: var(--contest-warning-color);*/
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    padding: 0 2rem 0 2rem;
}

/* errors */
.error-inline{
    color: var(--contest-warning-color);
    font-size: var(--enter-credentials-font-size);
    margin: 2px 2px;
}

.error {
    background-color: var(--error-background);
    padding: 0 0.5rem 0 0.5rem;
}



