
*{
    /*colors----------------------------------*/

    --header-background-color: #88a925;
    --header-text-color: #FFFFFF;
    --header-border-color: #646C37;

    --contest-background-color: #FCEAA4;
    --contest-warning-color: #A51E00;

    --menu-background-color: #ffebab;
    --menu-block-color: #ea9643;
    --menu-text-color: #5B5E35;

    --defult-text-color: black;
    --button-text-color: white;
    --button-background-color: #829A3D;
    --link-button-background-color: #5B5E35;
    --links-text-color: #4d502d;

    --footer-text-color: white;
    --footer-background-color: #829A3D;

    --error-background: #ffd5bf;

    /*offsets---------------------------------*/

    --header-height: 7vh;
    --footer-height: 5vh;

    --task-info-margin: 1.5vw;

    /*fonts----------------------------------------*/

    --header-font-size: 2.5rem;
    --page-header-font-size: 3rem;
    --page-second-header-font-size: 2.5rem;
    --menu-button-font-size: 3rem;
    --info-box-header-font-size: 2rem;
    --info-box-text-font-size: 1.7rem;
    --info-box-button-font-size: 2.2rem;
    --footer-font-size: 1.5rem;
    --input-font-size: 3rem;
    --input-header-font-size: 3rem;
    --form-button-font-size: 3.5rem;
    --enter-credentials-font-size: 2.5rem;
    --link-font-size: 2.5rem;

    --task-font-size: 2.5rem;
    --task-button-width: 1em;
    --task-button-height: 1em;

    --task-text-font-size: 2vh;
    --question-text-font-size: 2.2vh;

}


.content-footer{
    height: var(--footer-height);
}

.navigation{
    z-index: 1;

}


/* ---------------- header ----------------- */
.navigation .extra-navigation{
    position: fixed;
    display: flex;
    font-size: var(--header-font-size);
    width: 100vw;
    height: var(--header-height);
    justify-content: space-between;

}

.navigation .extra-navigation .stop-contest-warning {
    display: none;
}

#time-status-info{
    margin: 0 1rem 0 0;
}

#time-info{
    min-width: 0;
    margin-right: 1.5rem;
    font-size: 2.5rem;
}

#stop-contest{
    margin-left: 6rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    text-decoration-line: unset;
    width: fit-content;
    border: 2px solid rgba(0, 0, 0, 0.4);
    filter: drop-shadow(5px 5px 10px rgba(112, 119, 67, 0.2));
    border-radius: 60px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-transform: lowercase;
    color: rgba(0, 0, 0, 0.4);
}

.time-container{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    text-transform: lowercase;
    color: #FFFFFF;
}

#contest-time{
    padding: 1em 0 1em 1.5em;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    font-weight: 600;
}

.contest-back-button{
    display: flex;
    width: 15vw !important;
}
.expand-results{
    background-image: url("../../images/menuLogo/marklines.png");
    background-repeat: no-repeat;
    transform: scale(1.9);
    vertical-align: middle;
    -webkit-appearance: none;

    width: 36px;
    height: 24px;


    /*margin-top: calc(var(--header-height)/2.5);*/
    /*margin-left: 3.2rem;*/

    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

#contest-results{
    position: fixed;
    z-index: 1001;
    display: none;
}

.contest-results-show{
    background: var(--menu-background-color);
    border-style: solid;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: var(--task-text-font-size);
    color: var(--menu-text-color);
    font-weight: 600;
    display: flex !important;
    position: fixed;
    top: var(--header-height);
    left: 50vw;
    transform: translateX(-50%);
    width: 100%;
    height: 25vh;
}

.contest-results-show td:first-child{
    width: 60vw;

}

.contest-results-show tbody{
    line-height: 1.5;
}

.expand-results:checked{
    transition-duration: 200ms;
    transform: rotate(180deg) scale(1.9);
}

.link-button{
    font-size: 1.5rem !important;
    font-weight: 400;
    margin: 1rem 1rem 1rem 1rem !important;
    background: linear-gradient(89.51deg, #BFCF01 15.28%, #FFC700 107.32%);
    box-shadow: 10px 10px 20px rgb(112 119 67 / 20%), 5px 5px 10px rgb(112 119 67 / 60%);
    border-radius: 60px;
}

.answer-sending-info{
    text-align: center;
    font-size: 1.7rem;
    margin: 2rem 1rem 1rem 1rem;
}

.warning{
    font-size: 2rem !important;
    align-content: center !important;
    margin-top: 1rem !important;
}


/* ---------------- content ----------------- */
.menu-to-right{
    max-width: 100vw;
    max-height: calc(100vh - var(--footer-height) - var(--header-height) + 3em);
    background: white;
    /*overflow: hidden;*/
}


/*inner*/
#all-problems-in-pages{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    margin-top: calc(var(--header-height) - 1.5em);
    margin-bottom: calc(var(--footer-height) * 1.2);
    max-height: calc(100vh - var(--footer-height) - var(--header-height));

    scroll-snap-type: x mandatory;
    overflow: hidden;


}

/*outer*/
.auto-size{
    display: unset !important;

    max-height: calc(100vh - var(--header-height) - var(--footer-height)) !important;
    width: 100vw;
    background: purple;
    overflow: hidden;
    margin-top: var(--header-height);

}
/**/
.content{
    justify-content: flex-start;
    width: 100vw;
    
}


.page{
    font-size: var(--task-text-font-size);
    max-height: calc(97vh - var(--footer-height) - var(--header-height));
    min-width: 100vw;
    max-width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-align: start;

}

.problem{
    display: block;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.task-answers{
    /*max-width: 50px;*/
    overflow-x: scroll;
    margin-bottom: 20px;
    margin-left: var(--task-info-margin);
    margin-right: var(--task-info-margin);
    /*display: block;*/
}

.task-answers tbody {
    display: block;
    overflow:scroll;
    white-space:nowrap;
    table-layout: fixed;
    width: 100vw;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.task-answers tbody::-webkit-scrollbar {
    display: none;
}



.problem p {
    margin: 0;
    padding: 0;
    font-size: var(--task-text-font-size);
}

.MsoBodyText{
    font-size: var(--task-text-font-size);
}

.task-statement p{
    font-size: var(--task-text-font-size);
}

.task-title{
    margin-left: var(--task-info-margin);
}

.task-statement {
    font-size: var(--task-text-font-size);
    margin-left: var(--task-info-margin);
    margin-right: var(--task-info-margin);
}

.section-title{
    font-size: var(--question-text-font-size) !important;
    margin-left: var(--task-info-margin);
    margin-right: var(--task-info-margin);
}

.task-question{
    font-size: var(--question-text-font-size);
    margin-left: var(--task-info-margin);
    margin-right: var(--task-info-margin);
}

.big-font{
    font-size: var(--info-box-text-font-size);
}

.bebras-dyn-status{
    font-size: var(--task-font-size);
}
.bebras-dyn-button{
    font-size: var(--info-box-button-font-size);
    padding: 0.1em 0.1em;
}

.bebras-task-answer-selector{
    width: 5vw !important;
    font-size: 2rem !important;
}

.bebras-answer-wrapper{
    padding-right: 30pt !important;
    font-size: 1.7rem;
}

.no-answer{
    font-size: var(--task-text-font-size);
}




.menu-item{
    display: flex;
}

/* ---------------- images ----------------- */
.float-left{
    /*width: calc(100vw - 2*var(--task-info-margin) - 1vw);*/
    display: flex !important;
    align-content: center;
    margin: 4rem 0 4rem 0;
    width: 97vw !important;
    justify-content: center;
}

.kineticjs-content {
    display: flex !important;
    margin: 4rem 0 4rem 10rem;
    width: 100vw !important;
}

.problem img[title="Trees"] {
    margin: 4rem 0 4rem 0;
    width: 90vw !important;
    justify-content: center
}

.bebras-answer-wrapper img[title="D"]{
    width: 160% !important;
}
.bebras-answer-wrapper img[title="A"]{
    width: 160% !important;
}
.bebras-answer-wrapper img[title="B"]{
    width: 160% !important;
}
.bebras-answer-wrapper img[title="C"]{
    width: 160% !important;
}

.task-statement img[title="Lift"]{
    width: 65vw !important;
}

.MsoBodyText img[title="Triggers"]{
    margin: 1rem 0 1rem 0;
    width: 50vw !important;
    justify-content: center;
}
.MsoBodyText img[title="Triiger"]{
    margin: 1rem 0 1rem 0;
    width: 38vw !important;
    justify-content: center;
}

.task-statement img[title="Cogito ergo sum"]{
    width: 70vw !important;
}

.task-statement img[title="U1"]{
    width: 30vw !important;
}
.task-statement img[title="U2"]{
    width: 50vw !important;
}
.task-statement img[title="U3"]{
    width: 70vw !important;
}
.task-statement img[title="U4"]{
    width: 90vw !important;
}
.task-statement img[title="U5"]{
    width: 50vw !important;
}
.task-statement img[title="U6"]{
    width: 40vw !important;
}
/* ---------------- explanation ----------------- */
.task-explanation p, .task-informatics p {
    font-size: 1vh;
    margin: 0.5vh 1.5vh 0.5vh 1.5vh !important;
    padding: 0 0 0 1.5vh;
}

.task-explanation{
    border-radius: 15px;
    background-color: var(--footer-background-color);
    width: 96vw;
    margin: 0 2vw 0 2vw;
    padding: 2vh 0 2vh 0;
}

#contest-finished-info{
    margin-top: var(--header-height);
    word-break: break-all;
    justify-content: space-between;
}

#contest-finished-info p{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.extra-navigation nav{
    z-index: 1002;
    display: flex;
    position: fixed;
    top: 0;
    transform: translate(0, -8vh);
    width: 100vw;
    height: var(--header-height);
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
/* ---------------- footer ----------------- */

.content-footer{
    position: fixed;
    width: 100vw;
    height: 8vh;
    bottom: 0;

    font-size: var(--footer-font-size);
    font-weight: 400;
    text-align: center;

    background-color: transparent;

}

.page-selectors {
    overflow-x: scroll;
    width: 100vw;
    display: flex;
    height: 8.5vh;
    align-items: center;
    flex-wrap: nowrap;
    gap: 3vw;

    background: linear-gradient(271.59deg, #DFE321 0%, #D0D51C 100%);
    box-shadow: -10px -10px 20px rgba(149, 151, 74, 0.2), -5px -5px 10px rgba(149, 151, 74, 0.8);
    border-radius: 60px 60px 0px 0px;
}

.page-selector:first-child{
    margin-left: 3vw;
}

.page-selector:last-child{
    margin-right: 3vw;
}

.page-selector{
    color: rgba(0, 0, 0, 0.3);
    text-decoration-line: unset;
    font-size: var(--info-box-button-font-size);
    font-style: normal;
    border-radius: 1000px;
    border-color: black;
    font-weight: 600;
    /*box-shadow: 10px 10px 15px rgb(0 0 0 / 10%);*/
    text-align: center;
    width: 60px !important;
    height: 5vh;
    min-width: 5vh !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;

    border: 6px solid rgba(0, 0, 0, 0.3);
    filter: drop-shadow(5px 5px 10px rgba(112, 119, 67, 0.4));
}

.active{
    border: 4px solid white;
    color: white;
}

