@(html:views.htmlblocks.HtmlBlock, editable:Boolean)
<div class='html-block'>
@if(editable) {
<span class='html-block-ref hidden'>@if(html.getEventId == "~global"){
    @routes.Application.setGlobalHtmlBlock(html.getId)
} else {
    @routes.EventAdministration.setHtmlBlock(html.getEventId, html.getId)
}</span>
<div class='html-block-actions'>
<a class='html-block-edit-action' href='#'>Edit</a>
<a class='html-block-undo-action' href='#'>Undo</a>
</div>
}
<div class='contents@if(editable){ admin}else{}'>@Html(html.getHtml)</div>
<div style='clear: both'></div>
</div>