form.actions {
    display: inline;
}

a.submit {
    color: blue;
    text-decoration: none;
}

/*files list table*/

.files-list {
    margin-bottom: 1em;
}

.files-list td {
    border: 1px solid black;
    padding: 4px 8px;
}

.block-config-info {
    color: #888;
}