.page-selectors {
    text-align: center;
    line-height: 2;
    margin: 0.5em 0;
}

.page-button {
    padding: 0.3em;
    margin: 0 0.2em;
    /*border: 1px solid #834E1B;*/
    background-color: #f5e7cb;
    box-shadow: 1px 1px 1px 1px #dfd1b5;
    color: #00008b;
    cursor: pointer;

    /*don't allow to select TODO */
}

.page-button:hover {
    color: blue;
}

.page-button.active {
    background-color: #f5c593;
    box-shadow: 1px 1px 1px #f5972d;
    /*border-color: #f5972d;*/
}

.dont-move-down {
    margin-top: 0;
}

/* time */
#contest-time {
    margin-top: 2em;
    text-align: center;
}

#time-info {
    font-weight: bold;
}

#stop-contest {
    margin-top: 0.4em;
}

#stop-confirmation {
    margin-top: 0.4em;
}

/*Текст об отсылке данных на сервер*/

.answer-sending-info-do {
    color: blue;
}

.answer-sending-info-ok {
    color: green;
}

.problem {
    padding: 1em 1em 0.4em;
    margin-bottom: 0.5em;
    overflow: hidden;
}

.problem .footer {
    clear: both;
}

.change-problem input {
    margin-top: 0.5em;
    font-size: 1.2em;
}

.exit-button {
    text-align: center;
}

/* contest finished and results */

#contest-results {
    background-color: #e0f1ff;
    padding: 1em 1em 1em;
    margin-bottom: 1em;
}

#contest-results h1 {
    margin-top: 0;
}

#contest-results tr td:nth-child(even) {
    font-weight: bold;
}

#contest-results tr td:nth-child(odd) {
    padding-right: 1em;
}
