table.applications {
    border: 1px solid black;
    margin: 0 auto;
}

table.applications td {
    border: 1px solid black;
    padding: 2px 4px;
}

table.applications thead td {
    font-weight: bold;
    color: #000000;
    text-align: center;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

table.applications tbody td {
    color: #000000;
    text-align: center;
    vertical-align: middle;
}

table.applications tbody td.payment-type-column {
    padding-left: 0.8em;
    text-align: left;
}

table.applications tbody tr.app-no-button td {
    padding-top: 4px;
    padding-bottom: 4px;
}

table.applications td.number {
    font-weight: bold;
}

table.applications td.remove a {
    color: red;
}

.app-kvit-element {
    display: inline-block;
}

.app-kvit-links {
    margin-right: 1em;
}

.app-new, .app-pay, .app-acc {
    font-weight: bold !important;
    font-family: "Courier New", courier, serif !important;
    font-size: 1.2em;
}

.app-new {
    color: red !important;
}

.app-pay {
    color: blue !important;
}

.app-acc {
    color: green !important;
}

.app-type {
    display: block;
    margin-top: 2px;
    font-size: 0.8em;
    font-weight: bold;
    color: #005609
}

.app-need-confirm {
    background-color: #ffe6e6;
}

.app-no-confirm {
    background-color: #e6ffe6;
}

.rfi-payment-submit {
    width: 336px;
    height: 41px;
    border: none;
    background: transparent url("../images/rfi/small-rfi.png");
    cursor: pointer;
}

form.application {
    display: inline-block;
    vertical-align: middle;
}

.app-payment-type.not-top {
    border-top: 1px dotted black;
}

/* search applications */

.search-applications input {
    font-size: 1.4em;
    margin: 1em 0;
}
.search-applications .application-code {
    font-family: "Courier New", courier, serif;
    text-align: center;
}