p.time {
    padding-bottom: 0.2em;
    vertical-align: middle;
}

p.time iframe {
    display: inline;
    margin-bottom: -6px;
}

.contest-select {
    text-align: center;
}

.contest-select a:visited {
    color: #ffffff;
}

.contest-action a, .contest-action a:visited {
    color: #a51e00;
}

.invisible-form {
    display: inline;
}

.big-title {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0.5em;
}

.big-title span {
    color: red;
}

/* contest administration */

.go-contest-admin {
    float: right;
}