.page-selectors {
    text-align: center;
    margin: 1.2em 0;
}

.page-button {
    margin-left: 0.2em;
    margin-right: 0.2em;
    padding: 3px 6px;
    /*border: 1px solid #834E1B;*/
    background-color: #f5972d;
    box-shadow: 1px 1px 1px #834E1B;
    color: #00008b;
    cursor: pointer;
}

.page-button:hover {
    color: blue;
}

.page-button.active {
    background-color: #f5c593;
    box-shadow: 1px 1px 1px #f5c593;
    /*border-color: #f5972d;*/
}

.dont-move-down {
    margin-top: 0;
}

.problem-header {
    font-weight: bold;
    margin-bottom: 0.5em;
}