form.basic-form input,
form.basic-form select {
    font-size: inherit;
}

.basic-form {
    margin-left: 4em;
}

.basic-form .controls {
    /*border: 1px solid #AAA;*/
    border-top-width: 0;

    /*overflow: auto; *//* http://www.quirksmode.org/css/clearing.html */
    /*width: 100%;*/
    position: relative;
}

.basic-form .controls.error {
    background-color: #ffd5bf;
    margin: 2px 0;
}

.basic-form .error-inline {
    color: #d22100;
    margin-top: 4px;
    /*margin-left: 336px;*/
    padding: 4px;
    clear: both;
}

.basic-form .error-inline-empty {
    clear: both;
}

.basic-form .controls:nth-child(1) {
    /*border-top-width: 1px;*/
}

.basic-form .controls label {
    display: block;
    margin-left: 336px;
    height:100%;
    padding-top: 0.7em;
}

.basic-form .form-field-input {
    padding: 4px;
    width: 320px;
    float: left;
    clear: left;
}

/*required field*/
form.basic-form small {
    color: #d22100;
}

/* text input */
form.basic-form .input-text {
    border: 2px #01a1de solid;
    border-radius: 4px;
    padding: 2px 4px;
    width: 308px; /*320 - 2 * padding - 2 * border*/
}

form.basic-form .input-checkbox {
    border: 2px #01a1de solid;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    margin-left: 151px;
}

/* date input */
form.basic-form .date-input-forms span {
    float: left;
    height: 1em;
    margin-top: 8px;
}

form.basic-form .date-input-month span {
    margin-top: 10px;
}

form.basic-form .date-input-forms input {
    width: 200px;
    float: right;
    border: 2px #01a1de solid;
    border-radius: 4px;
    padding: 2px 4px;
}

form.basic-form .date-input-forms select {
    width: 200px;
    float: right;
    border: 2px #01a1de solid;
    border-radius: 4px;
    padding: 2px 4px;
    margin: 4px 0;
    background-color: white;

    box-sizing:content-box;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
}

form.basic-form .date-input-forms .grayed {
    color: #888;
}

form.basic-form .date-input-field {
    overflow: auto;
}

/* address input */

form.basic-form .addr-input-field span {
    float: left;
    height: 1em;
    margin-top: 8px;
}

form.basic-form .addr-input-field input {
    width: 100px;
    float: right;
    border: 2px #01a1de solid;
    border-radius: 4px;
    padding: 2px 4px;
    margin: 2px 0;
}

form.basic-form .addr-input-field.city input,
form.basic-form .addr-input-field.street input {
    width: 200px;
}

form.basic-form .addr-input-field {
    overflow: auto;
}

/* submit buttons */

.form-actions {
    width: 320px;
    text-align: center;
}

form.basic-form .form-button {
    color: #ffffff;
    font-size: 1.5em;
    border: 1px solid #00008b;
    /*border: 1px solid #01a1de;*/
    padding: 4px 8px;
    margin: 4px;
    background-color: #01a1de;
    /*background: #900 url(../images/bt01.png) repeat-x 50%;*/
    text-shadow: 1px 1px 2px #00008b;
    border-radius: 4px;
    text-decoration: none;
}

form.basic-form .form-button:hover {
    color: /*#f5972d*/ #ffe380;
    cursor: pointer;
}

form.basic-form .error {
    background-color: #ffd5bf;
}