h1 {
    font-size: 2em;
    margin: 0.5em 0;
}

p {
    padding-bottom: 1em;
}

html, body {
    height: 100%;

    background: url(../images/header01.png);
}

/*.nav-contents {*/
    /*position: relative;*/
/*}*/

p.warning {
    color: #d22100;
}

header {
    /*background-color: #01a1de;*/
    background: url(../images/header01.png);
    border-bottom: 2px #00008b solid;
    font-size: 2em;
    color: #fff0b2;
    padding: 6px;
    text-align: center;
    font-family: "Arial", serif;
    font-weight: 600;
    text-shadow: 2px 2px 2px #00008b;

    height: 34px; /*2em + 2px*/
}

nav {
    float: left;
    line-height: 1.5;
    padding: 10px 0 32010px;
    width: 200px;
    margin: 0 0 -32000px;
    border-right: 2px solid #f5972d;
    /*background-color: #feeca5;*/
    background: url(../images/nav01.png) repeat;
}

nav img {
    display: block;
    margin: 0 auto 1em;
}

div.content {
    /*margin: 1em 1em 1em 216px;*/
    margin: 0 0 -32000px 200px;
    padding: 1em 1em 32010px;
    background-color: white;
}

footer {
    text-align: center;
    font-size: 0.75em;
    color: white;
    /*background-color: #01a1de;*/
    padding: 2px;

    /*background: url(../images/header01.png);*/
    border-top: 2px #00008b solid;

    height: 14px; /*0.75 * 16em + 2px*/

    /*position: absolute;*/
    /*bottom: 0;*/
    /*width: 100%;*/
}

.nav-contents {
    overflow: hidden;
    /*height: 100%;*/
    /*margin: -48px 0 -18px;*//* as header and footer*/
    /*margin: 0 0 -66px;*//* as header and footer*/
}

/*menu items*/
nav .menu-item {
    display: block;
    margin: 0.5em;
    line-height: 1;
    /*border: 2px solid #f5972d;*/
    text-decoration: none;
    padding: 4px 4px 4px 8px;
    /*text-shadow: 1px 1px 1px #01a1de;*/
}

nav a {
    background-color: #f5972d;
    box-shadow: 1px 1px 1px #834E1B;
}

nav span {
    background-color: #f5c593;
    box-shadow: 1px 1px 1px #f5c593;
}

nav .menu-item, nav .menu-item:visited {
    color: #00008b;
}

nav a:hover {
    color: blue;
}