@(showSolutions: Boolean, uniqueId: String, title: String, statement: String, help: String, className: String, settings: String, dependencies: String)
<div class='problem-title'>
        @Html(title)
</div>

<div id="@uniqueId"></div>

<div class='task-statement'>
    <p class="section-title">Условие</p>
    @Html(statement)
</div>
<div class='task-help'>
    <p class="section-title">Помощь</p>
    @Html(help)
</div>
@*showSolutions may mean that nothing should go to server*@
<script>
        $(function() {
            kio_api.initializeKioProblem(@Html(className), document.getElementById('@uniqueId'), @Html(settings), '/~plugin/KioOnline/');
        });
</script>