@(title: String, statement: String, help: String, className: String, settings: String, dependencies: String, checker: String)
<p><span class='kio-editor-title'>Название:</span> <input class='kio-editor' value="@{title}" name="title"></p>
<p class='kio-editor-title'>Условие</p>
<textarea rows=10 class='kio-editor' name="statement">@statement</textarea>

<p class='kio-editor-title'>Помощь</p>
<textarea rows=10 class='kio-editor' name="help">@help</textarea>

<p><span class='kio-editor-title'>Класс:</span>
    <input class='kio-editor' value="@className" name="class_name"></p>

<p><span class='kio-editor-title'>Настройки:</span>
    <input class='kio-editor' value="@settings" name="settings"></p>

<p><span class='kio-editor-title'>Зависимости:</span> <input class='kio-editor' value="@dependencies" name="dependencies"></p>

<p><span class='kio-editor-title'>Проверка jar/class:</span> <input class='kio-editor' value="@checker" name="checker"></p>