@(blocks:java.util.List[plugins.questionnaire.QuestionBlock], filled:Boolean, info:models.results.Info, call:play.mvc.Call)
@import scala.List
@import views.widgets.ResourceLink
@main_with_menu(Event.current.getTitle)(List(new ResourceLink("questionnaire.css"))) { } {
    @if(filled) {
        <h1>Спасибо, что поделились впечатлениями о конкурсе!</h1>
    } else {
        <h1>Поделитесь с самым главном бобром своими впечатлениями от конкурса</h1>
    }
    <form action="@call" method="post">
        <p>
        @for(block <- blocks) {
            @block.render(if (block.getName == null) {null} else {info.get(block.getName)})
        }
        </p>
            <input value="@if(filled){Исправить рассказ!} else {Рассказать!}" type="submit" class='link-button'>
    </form>
}