# possible options for Play

# default PID file is created near the binary by the play framework, we better disable this
-Dpidfile.path=/dev/null

# http port
-Dhttp.port=9000

# it is possible to replace logger and config file, default logger is logback.xml
#-Dlogger.file=/etc/der/play-application-logger.xml
#-Dconfig.file=/home/play/dces2/application.conf

#memory

# -J-Xmx2048m
# -J-Xms512m

#start as server
-J-server