@(answers:java.util.List[String])
@import models.newproblems.bebras.BebrasProblem
<tr>
    <td><div class="bebras-task-answer-selector"><span class='aid hidden'>0</span>@BebrasProblem.numberAnswer2string(0)</div></td>
    <td class="bebras-answer-wrapper">@Html(answers.get(0))</td>
</tr><tr>
    <td><div class="bebras-task-answer-selector"><span class='aid hidden'>1</span>@BebrasProblem.numberAnswer2string(1)</div></td>
    <td class="bebras-answer-wrapper">@Html(answers.get(1))</td>
</tr><tr>
    <td><div class="bebras-task-answer-selector"><span class='aid hidden'>2</span>@BebrasProblem.numberAnswer2string(2)</div></td>
    <td class="bebras-answer-wrapper">@Html(answers.get(2))</td>
</tr><tr>
    <td><div class="bebras-task-answer-selector"><span class='aid hidden'>3</span>@BebrasProblem.numberAnswer2string(3)</div></td>
    <td class="bebras-answer-wrapper">@Html(answers.get(3))</td>
</tr><tr>
    <td><div class="bebras-task-answer-selector"><span class='aid hidden'>-1</span>&nbsp;</div></td>
    <td class="bebras-answer-wrapper no-answer">Не знаю</td>
</tr>