@(answers:java.util.List[String])
<tr>
    <td><span class='aid hidden'>0</span><div class="task-answer-selector"></div></td>
    <td class="answer-wrapper">@Html(answers.get(0))</td>
    <td><span class='aid hidden'>1</span><div class="task-answer-selector"></div></td>
    <td class="answer-wrapper">@Html(answers.get(1))</td>
    <td><span class='aid hidden'>2</span><div class="task-answer-selector"></div></td>
    <td class="answer-wrapper">@Html(answers.get(2))</td>
    <td><span class='aid hidden'>3</span><div class="task-answer-selector"></div></td>
    <td class="answer-wrapper">@Html(answers.get(3))</td>
    <td><span class='aid hidden'>-1</span><div class="task-answer-selector"></div></td>
    <td class="answer-wrapper">Без ответа</td>
</tr>