@(form:models.forms.RawForm, field: String)
@import models.forms.RawForm
<fieldset>
    <div class='addr-input-field index'>
        <span>@Messages("addr.index")</span>
        <input type="text" value="@form.get(field, "index")" name="@RawForm.postfixField(field, "index")" placeholder="@Messages("addr.index.placeholder")">
    </div>
    <div class='addr-input-field city'>
        <span>@Messages("addr.city")</span>
        <input type="text" value="@form.get(field, "city")" name="@RawForm.postfixField(field, "city")" placeholder="@Messages("addr.city.placeholder")">
    </div>
    <div class='addr-input-field street'>
        <span>@Messages("addr.street")</span>
        <input type="text" value="@form.get(field, "street")" name="@RawForm.postfixField(field, "street")" placeholder="@Messages("addr.street.placeholder")">
    </div>
    <div class='addr-input-field house'>
        <span>@Messages("addr.house")</span>
        <input type="text" value="@form.get(field, "house")" name="@RawForm.postfixField(field, "house")" placeholder="@Messages("addr.house.placeholder")">
    </div>
</fieldset>