@(form: DynamicForm, submit_text:String, fields:List[models.fields.InputField])
@import models.fields.inputtemplate.InputTemplate
@import play.data.DynamicForm
<form class="basic-form" action="@controllers.routes.Application.registration(Event.current())" method="POST">
    <fieldset>
    @if(form("id").value != null) {
    <input type="hidden" value="@form("id").value" name="id">
    }
    @for(field <- fields) {
        <div class="controls @if(form(field.getName).hasErrors) {error}">
            <label>@field.getInputConfiguration.getTitle @if(field.getInputConfiguration.isRequired) {<small>*</small>}</label>
            <div class='form-field-input'>
                @field.format(form)
            </div>
            <span class="help-inline">@form(field.getName).errors().map { e => @e.message}.mkString(", ")</span>
        </div>
    }
    </fieldset>
    <div class="form-actions">
        <input type="submit" value="@submit_text" class="btn btn-primary">
    </div>
</form>
