@(title: String, width: Int, height: Int, imageSize: Int, bc: plugins.bebrascard.BebrasCard, winCall: play.mvc.Call)
@import plugins.bebrascard._
@import scala.List
@import views.widgets.ResourceLink
@main(title)(List(new ResourceLink("preloadjs-0.6.2.min.js"), new ResourceLink("bebras-card.js"), new ResourceLink("bebras-card.css")))(no_scroll = false) {
    <script>
            var BEBRAS_CARD_INFO = {
                "bc": @Html(bc.asJavaScriptObject()),
                "width": @width,
                "height": @height,
                "img_size": @imageSize,
                "win_url": "@winCall"
            };
    </script>
    <div class="loading-progress"></div>
    <canvas class="card-view" width="@width" height="@height">
        Без поддержки Canvas открытки не работают
    </canvas>
    <div class="pic-description"><span class="country"></span>: <span class="info"></span></div>
}