@(status:String, pagedUserProblems:java.util.List[java.util.List[models.newproblems.ConfiguredProblem]], problem2index:java.util.Map[models.newproblems.ConfiguredProblem, Integer], jsonContestInfo:String, problemsWidgets:views.widgets.Widget)
@import models.utils.Utils
@import views.widgets.CssJsWidget
@import models.Contest
@import models.Event
@import views.widgets.ResourceLink
@import models.User
@import scala.List
@main(Event.current.getTitle)(List(CssJsWidget get "contest", problemsWidgets))(false) {
    <div id='all-problems-in-pages-print'>
        <div class='contest-info hidden'>@Html(jsonContestInfo)</div>
        @for((page, pageIndex) <- pagedUserProblems.zipWithIndex) {
            <div class='page'>
            @for(problem <- page) {
                <div class='problem'><span class='hidden pid'>@problem2index(problem)</span>
                    @problem.getProblem.format(problem2index(problem), status == "results", problem.getSettings, User.current.getContestRandSeed(Contest.current.getId))
                    <div class='footer'></div>
                </div>
            }
            </div>
        }
    </div>
}