@(addContestForm:models.forms.RawForm)
@import views.htmlblocks.HtmlBlockWidget
@import views.widgets.ResourceLink
@import views.widgets.FormsWidget
@import views.widgets.AdminWidget
@import models.Event
@import models.Forms
@import models.User
@import scala.List

@defining(Event.current.getContestsAvailableForUser) { availableContests =>
@defining(availableContests.filter(_.isShowProblemsOnContestsPage) map (c => controllers.Contests.getProblemsWidgets(c getPagedUserProblems User.current)) ) { extraWidgets =>

    @main_with_menu(Event.current.getTitle)(List(new ResourceLink("contests_list.css"), FormsWidget.get, AdminWidget.get, HtmlBlockWidget.get) ++ extraWidgets) { } {
        <h1>Список соревнований события</h1>
        <p class='time warning'>
        Все моменты времени на этой странице указаны по московскому времени.
        Московское время: <iframe src="http://free.timeanddate.com/clock/i3m3rjyq/n166/tlru33/fs18/tct/pct/avb/th1" frameborder="0" width="72" height="24" allowTransparency="true"></iframe>
        </p>

        @Event.current.getHtmlBlock("contests_list_top").format

        @if(Event.current.resultsAvailable()) {
        <div class='info-box'> @*TODO remove *@
            <p class='header'>Окончательные результаты</p>
            @info(User.current.getEventResults, Event.current.getResultsInfoPattern, null)
        </div>
        }
            @for((contest, contestIndex) <- availableContests.zipWithIndex) {
                <div class='info-box'>
                    @contest_info_for_user(contest)
                    <div class='footer'></div>
                    @if(User.current.hasEventAdminRight) {
                        <form action="@routes.ContestAdministration.moveContestUp(Event.currentId, contest.getId)" method="POST" class='actions-move-up-@contest.getId'></form>
                        <form action="@routes.ContestAdministration.moveContestDown(Event.currentId, contest.getId)" method="POST" class='actions-move-down-@contest.getId'></form>
                        <form action="@routes.ContestAdministration.removeContest(Event.currentId, contest.getId)" method="POST" class='actions-remove-@contest.getId'></form>

                        <p>
                            @if(contestIndex != 0) {
                                <a href="#" class='submit actions-move-up-@contest.getId' title="Переместить вверх">↑</a>
                            }
                            @if(contestIndex != Event.current.getContestsAvailableForUser.size - 1) {
                                <a href="#" class='submit actions-move-down-@contest.getId' title="Опустить вниз">↓</a>
                            }
                            <a href="#" class='submit actions-remove-@contest.getId' title="Удалить соревнование">⨯</a>

                            <a class='go-contest-admin' href="@routes.ContestAdministration.contestAdmin(Event.currentId, contest.getId)">Администрирование соревнования</a>
                        </p>
                    }
                </div>
            }

            @if(availableContests.isEmpty) {
                <br>
                <br>
                <div class='info-box'>
                    <h2>Вам пока не доступно ни одного соревнования</h2>
                </div>
            }


        @if(User.current.hasEventAdminRight) {
        <div class='info-box'>
        <p class='header big-title'>Добавить соревнование</p>
            @Forms.getAddContestForm.formatExtended(addContestForm, routes.EventAdministration.addContest(Event.currentId), false, "form.do_add")
        </div>
        }

        @Event.current.getHtmlBlock("contests_list_bottom").format
    }
}} @*close definings*@