@(contest:models.Contest, form: models.forms.RawForm)
<p>id: @contest.getId</p>
@models.Forms.getContestChangeForm.formatExtended(form, controllers.routes.ContestAdministration.doUpdateContest(Event.currentId, contest.getId), true, "form.do_change")
<p></p>
<h2>Загрузить задачи для соревнования (в /@Event.currentId/@contest.getId)</h2>
<form enctype="multipart/form-data" method="POST" action="@routes.EventAdministration.uploadProblemsFile(Event.currentId, contest.getId)">
    <input type="file" name="problem-set">
    <input type="submit" value="Загрузить файл">
</form>