@()
@import models.Event
@import scala.List
@import views.ResourceLink
@main_with_menu("Администрирование " + Event.current.getTitle)(List(new ResourceLink("admin.css")), List()) { } {
    <h1>Администрирование мероприятия @Event.current.getTitle</h1>
    <p>На этой странице можно изменять настройки мероприятия и анализировать его результаты.
        В данный момент это только очень краткий пример возможностей без реализации и без оформления,
        на странице работает только загрузка списка участников (выделено жирным)</p>

    <p>Название: <input type="text" value="@Event.current.getTitle"><a href="#">Изменить</a></p>

    <p>Поля регистрационной формы: (<a href="#">настроить</a>)</p>
    <ol>
        <li>Имя пользователя: строка</li>
        <li>Фамилия: строка</li>
        <li>Имя: строка</li>
        <li>Отчество: строка</li>
        <li>День рождения: дата</li>
        <li>Телефон: строка</li>
        <li>email: строка</li>
        <li>Полное наименование школы: слепой список <a href="#">загрузить список</a></li>
        <li>Согласие на обработку персональных данных: согласие</li>
        <li>Согласие с правилами соревнования: согласие</li>
    </ol>
    <p></p>
    <p><a href='#'>Настройка</a> администраторов мероприятия</p>
    <p></p>

    <p><b>Список зарегистрированных участников: </b><a href="@routes.EventAdministration.getUsers(Event.currentId)">загрузить</a></p>
    <p>Список зарегистрированных участников с результатами: <a href="#">загрузить</a></p>
    <p>Список зарегистрированных участников с данными об ip адресах: <a href="#">загрузить</a></p>

}