@(form:models.forms.RawForm)
@import models.Event
@import models.forms.RawForm
@import scala.List
@import views.ResourceLink
@import models.forms.validators.FileListValidator
@main_with_menu("Администрирование " + Event.current.getTitle)(List(new ResourceLink("admin.css"), new ResourceLink("forms.css")), List(new ResourceLink("forms.js"))) { } {
    <h1>Администрирование мероприятия @Event.current.getTitle</h1>
    @models.Forms.getEventChangeForm.formatExtended(form, controllers.routes.EventAdministration.admin(Event.currentId), true, "form.do_change")

    <p>Список школ:</p>
    <form enctype="multipart/form-data" method="POST" action="@routes.EventAdministration.uploadKenguruSchoolCodes(Event.currentId)">
        <input type="file" name="kenguru-codes">
        <input type="submit" value="Загрузить файл">
    </form>

    @*
    <p></p>
    <p><a href='#'>Настройка</a> администраторов мероприятия</p>
    <p></p>

    <p><b>Список зарегистрированных участников: </b><a href="@routes.EventAdministration.getUsers(Event.currentId, 0)">загрузить</a></p>
    <p><b>Список зарегистрированных участников с результатами: </b>
        <a href="@routes.EventAdministration.getUsers(Event.currentId, 1)">без учета порядка</a>
        <a href="@routes.EventAdministration.getUsers(Event.currentId, 2)">с учетом порядка</a>
    </p>
    <p><b>Список ответов участников: </b><a href="@routes.EventAdministration.getUsersAnswers(Event.currentId)">загрузить</a></p>
    <p><b>Данные по посещению пользователей: </b><a href="@routes.EventAdministration.getUsersActivity(Event.currentId)">загрузить</a></p>
    *@
    <p></p>
    <p>Данные по событию:</p>
    @for((table, ind) <- Event.current.getTables.zipWithIndex) {
        <p>@(ind + 1). @table.getTitle: <a href="@routes.EventAdministration.csvTable(Event.currentId, ind)">скачать</a></p>
    }

    <p>Чтобы добавить пользователя, перейдите по ссылке
        <span class='link'>http://on-line.runodog.ru/[login]/[password]/[email]/[1 for admin]/create_user</span>, например
        <span class='link'>http://on-line.runodog.ru/ilya/qwerty/iposov@@gmail.com/1/create_user</span> создаст пользователя
        с логином ilya, паролем qwerty, почтой iposov@@gmail.com, 1 - означает, что он администратор. 0 означало бы, что он
        обычный пользователь.
    </p>
    <p>Недоработки на данный момент: необходимо улучшать интерфейс; позволить добавлять и удалять пользователей;
    вернуть вычисление итогового рейтинга</p>
}