@(eventForm:models.forms.RawForm, cloneForm:models.forms.RawForm)
@import views.widgets.AdminWidget
@import views.widgets.FormsWidget
@import models.Event
@import models.forms.RawForm
@import scala.List
@import models.forms.validators.FileListValidator
@main_with_menu("Администрирование " + Event.current.getTitle)(List(AdminWidget.get, FormsWidget.get)) { } {
    <h1>Администрирование мероприятия @Event.current.getTitle</h1>
    @models.Forms.getEventChangeForm.formatExtended(eventForm, controllers.routes.EventAdministration.admin(Event.currentId), true, "form.do_change")

    <h2>Список школ:</h2>
    <form enctype="multipart/form-data" method="POST" action="@routes.EventAdministration.uploadKenguruSchoolCodes(Event.currentId)">
        <input type="file" name="kenguru-codes">
        <input type="submit" value="Загрузить файл">
    </form>

    @*
    <p></p>
    <p><a href='#'>Настройка</a> администраторов мероприятия</p>
    <p></p>

    <p><b>Список зарегистрированных участников: </b><a href="@routes.EventAdministration.getUsers(Event.currentId, 0)">загрузить</a></p>
    <p><b>Список зарегистрированных участников с результатами: </b>
        <a href="@routes.EventAdministration.getUsers(Event.currentId, 1)">без учета порядка</a>
        <a href="@routes.EventAdministration.getUsers(Event.currentId, 2)">с учетом порядка</a>
    </p>
    <p><b>Список ответов участников: </b><a href="@routes.EventAdministration.getUsersAnswers(Event.currentId)">загрузить</a></p>
    <p><b>Данные по посещению пользователей: </b><a href="@routes.EventAdministration.getUsersActivity(Event.currentId)">загрузить</a></p>
    *@
    <p></p>
    <h2>Данные по событию:</h2>
    @for((table, ind) <- Event.current.getTables.zipWithIndex) {
        <p>@(ind + 1). @table.getTitle: <a href="@routes.EventAdministration.csvTable(Event.currentId, ind)">скачать</a></p>
    }

    <h2>Клонировать событие</h2>
    @models.Forms.getCloneEventForm.formatExtended(eventForm, controllers.routes.EventAdministration.doClone(Event.currentId), false, "form.do_add")

    <h2>Удаление события</h2>

    <form action="@routes.EventAdministration.doRemoveEvent(Event.currentId)" method="POST" class='actions-remove-event'></form>
    <a href="#" class='submit actions-remove-event' title='Удалить...'>Удалить событие</a>
}