@()
@import views.widgets.ResourceLink
@import scala.List
@main_with_menu(Event.current.getTitle)(List(new ResourceLink("help.css"))) { } {
    <h1>Помощь по интерфейсу администрирования</h1>
    <h2>Основные понятия</h2>
    <p>Данная система позволяет организовывать <b>события</b>.
        Каждое событие характеризуется в первую очередь набором <b>соревнований</b>, которые проводятся в его рамках,
        и набором зарегистрированных на событие участников. События имеют идентификатор, (примеры идентификаторов:
        <span class='pre'>bbtc</span>, <span class='pre'>bbtc-2013</span>, ...), идентификатор можно
        увидеть в начале адресной строки в браузере, например, все адреса события bbtc начинаются с
        <span class='pre'>http://on-line.runodog.ru/bbtc/</span>.
    </p>
    <p>Одновременно можно проводить несколько событий. В данный момент созданы события <span class='pre'>bbtc</span>,
        <span class='pre'>bbtc2</span>, <span class='pre'>bbtc3</span>. Первое хранит
    информацию о конкурсе, проведенном в мае 2013, на него до сих пор могут приходить участники, поэтому с этим событием
        нужно работать аккуратно.
    Другие события можно использовать для тестирования системы и для подготовки
    новых событий. При необходимости получить дополнительные события, обращайтесь к И. Посову</p>
    <p>Каждое событие состоит из нескольких <b>соревнований</b>. У соревнований есть наборы заданий, время начала, время
    окончания, и другие параметры.</p>
    <p>Система имеет два вида пользователей: участники и администраторы. Участники регистрируются на события, участвуют
        в соревнованиях, администраторы
    настраивают события и соревнования, и тоже могут участвовать в соревнованиях в целях проверки.</p>

    <h2>Настройка события</h2>
    <p>Для настройки события администратор должен выбрать слева пункт "Администрирование". Внутри доступны следующие
    настройки:</p>
    <p>1. <b>Название события</b>. Название события отображается в заголовке на каждой странице события.</p>
    <p>2. <b>Дата отображения результатов</b>. После этой даты все участники будут видеть свои результаты по событию,
    в частности это суммарный балл за все соревнования и занятое место.</p>
    <p>3. <b>Дата начала регистрации</b>. Пока эта дата не наступит, участники не смогут зарегистрироваться на
        соревнование, они будут видеть текст, что регистрация еще не началась.</p>
    <p>4. <b>Дата завершения регистрации</b>. После этой даты участники не смогут зарегистрироваться на
        соревнование, они будут видеть текст, что регистрация уже закончилась.</p>
    <p>5. <b>Список школ</b>. Список школ - это набор кодов школ. Эти коды можно необходимо указывать при регистрации.
        Загружать необходимо файл в формате CSV, содержащий один столбец с заголовком в первой клетке.</p>
    <p>6. <b>Данные по событию</b>. Этот раздел содержит ссылки на скачивание таблиц с информацией о событии, например,
    с информацией о зарегистрированных пользователях. Иногда ожидание перед загрузкой файла может затянуться, особенно,
    если количество участников большое.</p>

    <h2>Список соревнований</h2>
    <p>Список соревнований доступен администратору при выборе пункта "Соревнование" в меню слева.</p>
    <p>Управлять списком соревнований можно, добавляя, удаляя и перемещая соревнования. Кнопки удаления и перемещения
        доступны в левом нижнем углу прямоугольника с соревнованием.</p>
    <p>Добавление соревнования доступно внизу страницы. Необходимо указать название соревнования и его идентификатор.
    Идентификатор - это произвольный набор латинских букв и цифр, его предназначение будет указано позже. В качестве
        примера, в событии <span class='pre'>bbtc</span> для экспресс-теста
        используется идентификатор <span class='pre'>express</span>, а для теста повышенной сложности идентификатор
        <span class="pre">hard</span>.</p>
    <p>Внизу блока каждого соревнования находится дополнительно ссылка на скачивание результатов соревнования,
        и находится ссылка "администрирование соревнования", позволяющая изменять настройки соревнования.</p>

    <h2>Настройка соревнования</h2>
    <p>После перехода по ссылке "администрирование соревнование" для одного из соревнований, появляется страница
    со следующими возможностями.</p>
    <p>1. <b>Информация</b>, данные о соревновании. В этом разделе указано, сколько людей начали участие в этом
        соревновании, и находится ссылка на скачивание результатов соревнования.</p>
    <p>2. <b>Название соревнования</b>, название, которое отображается для всех пользователей.</p>
    <p>3. <b>Дата начала</b>. Начиная с этого момента участники могут приступать к соревнованию. Эта дата не распросраняется
    на администраторов, они способны приступить к любому соревнованию в любое время.</p>
    <p>4. <b>Дата окончания</b>. После этого момента участники не могут приступать к соревнованию. Эта дата не распросраняется
        на администраторов, они способны приступить к любому соревнованию в любое время.</p>
    <p>5. <b>Дата отображения результатов</b>. После этого момента участникам становятся доступны резульаты по данному
    соревнованию. Дата может быть не указана, тогда она совпадает с соответствующей датой по всему событию. (см. выше).
    Если дата отображения результатов указана раньше, чем дата начала соревнования, то считается, что результаты доступны
    участникам сразу.</p>
    <p>6. <b>Минут на прохождение</b>. Именно столько минут отведено участнику на прохождение. Ноль означает, что время не
    ограничено.</p>
    <p>7. <b>Описание</b>. Описание соревнования видно участникам в блоке с информацией о соревновании.</p>
    <p>8. <b>Размеры страниц</b>. Описывает, сколько задач во время решения задач показывается на одной странице.
        Число должно быть указано в квадратных скобках. Если разные страницы имеют разные размеры, то их размеры должны
        быть перечислены через запятую, например <span class="pre">[5,7,5,5]</span>.
    </p>
    <p>9. <b>Таблицы с данными</b>. Описывает содержимое таблиц с информацией о результатах соревнования. Изменять здесь
    скорее всего ничего не понадобиться, поэтому подробного описания не будет. Этот пункт настроек позволяет
    менять местами столбцы таблицы или изменять их название.</p>
    <p>10. <b>Можно перезапускать</b>. Позволяет участникам повторно проходить одно и то же соревнование, сбрасывая его
    результаты. Это удобно для тренировочных соревнований. Администраторы имеют возможность перезапускать любое соревнование
        всегда, независимо от того, установлена ли здесь галочка.</p>
    <p>11. <b>Только для администраторов</b>. Эта галочка позволяет сделать так, что соревнование видно только администратору
        и не видно участникам. Если галочка установлена, то администратор при просмотре списка соревнований под названием
    соревнования видит фразу "(Только для администратора)". </p>

    <h2>Загрузка заданий</h2>
    <p>Задания в системе структурированы как файлы на диске, они хранятся в папках, которые в свою очередь могут храниться
    в других папках. Используется следующая структура каталогов, рассмотрим ее на примере соревнования с идентификатором
        <span class="pre">bbtc</span>. В корневой папке <span class="pre">bbtc</span> находятся все задания соответствующего
        события. В подпапках <span class="pre">bbtc/test</span>, <span class="pre">bbtc/express</span>,
        <span class="pre">bbtc/hard</span>, <span class="pre">bbtc/explore</span> хранятся задания соответствующих событий.
        Названия подпапок соответствуют идентификаторам соревнований. В подпапках с числовыми названиями хранятся
        задания из блоков, например, в <span class="pre">bbtc/express/6</span> хранятся задания из шестого блока
        экспресс-теста "Артикли и предлоги". Сами задачи имеют названия типа RoundId: <span class="pre">bbtc/express/6/A147</span>,
        <span class="pre">bbtc/express/7/A172</span> и т.п.
    </p>
    <p>
        Для загрузки заданий используется раздел "Загрузить задачи для соревнования" на странице администрирования
        соревнования. Формат файла с задачаниями был зафиксирован заранее, это CSV файл со столбцами: ID, RoundID, Block,
        BlockName, BlockID, Group, Question, AnswerA, AnswerB, AnswerC, AnswerD, AnswerE, Correct, Answer, score_right,
        score_wrong, score_skipped, Statistic, Comment.
    </p>
    <p>
        После загрузки задачи попадают в папку соответствующего соревнования, эта папка написана рядом с фразой
        "Загрузить задачи для соревнования", например, "(в /bbtc/express)". Они раскладываются по папкам блоков, номер
        блока берется из столбца Block, название задачи берется из столбца RoundId.
    </p>
    <h2>Назначение заданий соревнованию</h2>
    <p>После того как задачи загружены, необходимо указать, какие задания использовать в соревновании. Задания соревнования
    состоят из нескольких блоков. Каждый блок может иметь один из трех видов. Либо блок - это одно задание, либо блок - это все
    задания из определенной папки, либо блок - это несколько случайных заданий из определенной папки.</p>
    <p>Блоки перечислены на странице администрирования соревнования в разделе "Наборы заданий".</p>
    <p>Справа от каждого блока находится стрелка вверх, вниз или крестик, они позволяют, соответственно, изменять порядок блоков или удалять их.</p>
    <p>Для добавления блока используется раздел "Добавить блок". Возможные варианты строки конфигурации на примерах:</p>
    <p><span class="pre">5 random <- /bbtc/express/6</span> означает, что необходимо взять 5 случайных заданий из блока 6
    экспресс теста.</p>
    <p><span class="pre">problem /bbtc/express/6/A147</span> означает, что блок состоит из одного задания A147.</p>
    <p><span class="pre">folder /bbtc/hard/6</span> означает, что нужно взять все задания из 6-ого блока теста повышенной сложности.</p>

    <h2>Добавление пользователей</h2>
    <p>Добавление пользователя может быть необходимо, если регистрация закрыта, а хочется посмотреть на событие от имени обычного участника.
    Далее процесс добавления пользователей будет значительно упрощен.</p>
    <p>Чтобы добавить пользователя, нужно быть залогиненным от имени пользователя с правами администратора и перейти по ссылке
        <span class='link'>http://on-line.runodog.ru/[event id]/[login]/[password]/[email]/[1 for admin]/create_user</span>, например
        <span class='link'>http://on-line.runodog.ru/bbtc/ilya/qwerty/iposov@@gmail.com/1/create_user</span> создаст пользователя
        с логином ilya, паролем qwerty, почтой iposov@@gmail.com, 1 - означает, что он администратор. 0 означало бы, что он
        обычный пользователь.
    </p>

}