@(form:models.forms.RawForm, additionalMessage:String)
@import views.widgets.FormsWidget
@import models.forms.RawForm
@import scala.List
@import play.i18n.Messages
@import models.Forms
@import models.Event
@main_with_menu(Event.current().getTitle)(List(FormsWidget.get)) { } {
    <h1>@models.Event.current.getTitle</h1>
    @if(additionalMessage != null) {
        <p class="warning">@Messages.get(additionalMessage)</p>
    }
    <p>@Messages.get("form.enter_credentials")</p>
    @Forms.getLoginForm.formatExtended(form, routes.Registration.login(Event.currentId), false, "form.do_login")
}