@(title: String)(widgets:scala.List[views.widgets.Widget])(extra_navigation:Html)(content: Html)
@import views.widgets.ResourceLink
@import scala.List
@main(title)(new ResourceLink("main_with_menu.css") :: widgets) {
    <div class="wrapper">
        <header>
            @Event.current.getTitle
        </header>
        <div class='navigation'>
            <nav>
            <div class='contest-logo'></div>
            @for(menu_item <- views.Menu.current.items) {
                @if(menu_item.isCurrent) {
                    <span class='menu-item'>@menu_item.getTitle</span>
                } else {
                    <a class='menu-item' href="@menu_item.getLink">@menu_item.getTitle</a>
                }
            }
            </nav>
            <div class='extra-navigation'>
                @extra_navigation
            </div>
        </div>
        <div class="content">
            @content
        </div>
        <div class="push"></div>
    </div>
    <footer>
        <p class='developed-in-kio'>Разработано в <a target="blank" href="http://ipo.spb.ru">АНО «КИО»</a></p>
        <p class="copyright">
            © 2013 Центр продуктивного обучения. Все права защищены <br>@*·*@ Перепечатка материалов с разрешения администрации сайта
        </p>
    </footer>
}