@(title: String)(widgets:scala.List[views.widgets.Widget])(no_scroll:Boolean)(content: Html)
@import views.widgets.ResourceLink
<!DOCTYPE html>

<html@if(no_scroll){ class="no-scroll"}>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@ResourceLink.getFavicon">
        <link media="screen,print" rel="stylesheet" href="@ResourceLink.RESET">
        @for(widget <- widgets; link <- widget.links if link.getType == "css") {
            <link media="screen,print" rel="stylesheet" href="@link">
        }
        @google_counter()
        <script>
            @*track js errors http://habrahabr.ru/post/149926/ && http://misterphilip.com/universal-analytics/migration/events*@
            var ga = window.ga || function() {} ;
            @* _gaq.push(['_trackEvent', 'JS Error', msg, navigator.userAgent + ' -> ' + url + " : " + line, 0, true]); *@
            window.onerror = function(msg, url, line) {
                if (console)
                    console.log(msg, url, line);
                ga('set', 'nonInteraction', true);
                ga('send', 'event', {
                    eventCategory: 'JS Error',
                    eventAction: msg,
                    eventLabel: navigator.userAgent + ' -> ' + url + " : " + line,
                    eventValue: 0
                });
                return true; // prevent error allerts
            };
        </script>
        <script src="@ResourceLink.JQUERY" type="text/javascript"></script>
        <script>
            @*track jquery errors http://habrahabr.ru/post/149926/ && http://misterphilip.com/universal-analytics/migration/events*@
            @*_gaq.push(['_trackEvent', 'jQuery Error', message, navigator.userAgent, 0, true]);*@
            jQuery.error = function (message) {
                ga('set', 'nonInteraction', true);
                ga('send', 'event', {
                    eventCategory: 'JQuery Error',
                    eventAction: message,
                    eventLabel: navigator.userAgent,
                    eventValue: 0
                });
            }
        </script>
        @for(widget <- widgets; link <- widget.links if link.getType == "js") {
            <script src="@link" type="text/javascript"></script>
        }
    </head>
    <body@if(no_scroll){ class="no-scroll"}>
        <noscript>
        <div class="noscript">
        Для полной функциональности этого сайта необходимо включить JavaScript.
        Вот <a href="http://www.enable-javascript.com/ru/" target="_blank">
        инструкции, как включить JavaScript в вашем браузере</a>.
        </div>
        </noscript>
    @content

    @yandex_metrika()
    </body>
</html>
