@(title: String)(widgets:scala.List[views.widgets.Widget])(content: Html)
@import views.widgets.ResourceLink
@import scala.List
<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link media="screen" rel="stylesheet" media="screen" href="@ResourceLink.RESET">
        @for(widget <- widgets; link <- widget.links if link.getType == "css") {
            <link media="screen" rel="stylesheet" media="screen" href="@link">
        }
        <script src="@ResourceLink.JQUERY" type="text/javascript"></script>
        @for(widget <- widgets; link <- widget.links if link.getType == "js") {
            <script src="@link" type="text/javascript"></script>
        }
    </head>
    <body>
        <noscript>
        <div class="noscript">
        Для полной функциональности этого сайта необходимо включить JavaScript.
        Вот <a href="http://www.enable-javascript.com/ru/" target="_blank">
        инструкции, как включить JavaScript в вашем браузере</a>.
        </div>
        </noscript>
    @content

    @yandex_metrika()
    </body>
</html>
