@(pid:org.bson.types.ObjectId, problem:models.newproblems.Problem, showAnswers:Boolean)
@import views.widgets.WymEditorWidget
@* TODO remove code duplication with problem_view.scala.html *@
@import views.widgets.AdminWidget
@import views.widgets.ResourceLink
@import scala.List
@import org.bson.types.ObjectId
@import models.newproblems.Problem
@main("Задача " + pid.toString)(List(WymEditorWidget.get, new ResourceLink("contest_stub.js"), new ResourceLink("contest.css"), problem.getWidget(false), AdminWidget.get))(false) {
    <div class='problem'><span class='hidden pr_type'>@problem.getType</span>
        @problem.format("1", showAnswers, null, 0)
    </div>
}