@(form:models.forms.RawForm)
@import views.widgets.FormsWidget
@import models.forms.RawForm
@import scala.List
@main_with_menu(Event.current.getTitle)(List(FormsWidget.get)) { } {
    <h1>Регистрация участника</h1>
    <p class='warning'>Поля, отмеченные звездочкой, являются обязательными.
    После заполнения анкеты вы получите письмо с паролем, поэтому
    убедитесь, что вы правильно указали email.
    @Event.current.getUsersForm.formatExtended(form, controllers.routes.Registration.registration(Event.currentId), false, "form.do_register")
}