@(form:models.forms.RawForm)
@import models.forms.RawForm
@import views.ResourceLink
@import scala.List
@main_with_menu(Event.current.getTitle)(List(new ResourceLink("forms.css")), List(new ResourceLink("forms.js"))) { } {
    <h1>Регистрация участника</h1>
    <p class='warning'>Поля, отмеченные звездочкой, являются обязательными.
    После заполнения анкеты вы получите письмо с паролем, поэтому
    убедитесь, что вы правильно указали email.
    @Event.current.getUsersForm.format(form, controllers.routes.Registration.registration(Event.currentId))
}