@import scala.List
@import org.bson.types.ObjectId
@import models.newproblems.ProblemInfo
@import models.Contest
@import views.widgets.ResourceLink
@import plugins.AnswersGallery
@import java.net.URLEncoder
@(plugin: AnswersGallery, contest: Contest, solutions:java.util.Map[ObjectId, java.util.List[models.Submission]])

@main_with_menu("")(List(new ResourceLink("answers_gallery.css"))) { } {
    @for((problem_id, solutions_list) <- solutions) {
        @defining(ProblemInfo.get(problem_id).getProblem) { problem =>
            <section class="answers-gallery-problem">
                <h2>@contest.getProblemName(problem_id)</h2> @*TODO we need to extract problem name somehow. But different problems store name differently*@

                @for(solution <- solutions_list) {
                    <div class="answers-gallery-submission">
                    @* @info(solution.getAnswer, problem.getAnswerPattern) *@
                    @* @info(problem.check(solution.getAnswer, User.getUserById(solution.getUser).getContestRandSeed(contest.getId)), contest.getResultTranslator.getInfoPattern) *@
                    <a class="answers-gallery-user-info" href="@routes.UserInfo.info(Event.currentId, solution.getUser.toString)">@User.getUserById(solution.getUser).getLogin</a>
                    @info(problem.check(solution.getAnswer, User.getUserById(solution.getUser).getContestRandSeed(contest.getId)), problem.getCheckerPattern)
                    <a href="@plugin.getCall("view", true, contest.getId + "/" + solution.getUser.toString + "/" + solution.getProblemId.toString + "/" +
                            URLEncoder.encode(problem.getAnswerPattern.toJSON(solution.getAnswer), "UTF-8")
                    )">Просмотреть</a>
                    @* @problem.check(solution.getAnswer, User.getUserById(solution.getUser).getContestRandSeed(contest.getId)) *@
                    </div>
                }
            </section>
        }
    }

}