@()
@import views.widgets.ResourceLink
@import models.Contest
@import models.Event
@import scala.List
@main_with_menu(Event.current.getTitle)(List(new ResourceLink("contests_list.css"))) { } {
    @defining(Contest.current) { contest =>
        <h1>Подтвердите, что собираетесь начать</h1>
        <p>Вы собираетесь начать соревнование <b>@contest.getName</b>.</p>
        @if(contest.getDescription != null) {
            <p>@contest.getDescription</p>
        }
        <p class='warning'>После начала соревнования начнется отсчет времени.
        @if(contest.isUnlimitedTime) {
            Время на ответы не ограничено.
        } else {
            Минут на решение отведено: @contest.getDuration
        }
        </p>
        <p class='contest-select'>
            <a class='link-button' href='@routes.Contests.contest(Event.current.getId, contest.getId, "normal")'>Начать</a>
        </p>
    }
}