@import views.widgets.ResourceLink
@import scala.List
@import models.newproblems.ConfiguredProblem
@import models.User
@(user:User, contestId:String, problem:ConfiguredProblem, jsonProblemInfo:String)
@main_with_menu(Event.current.getTitle)(List(new ResourceLink("contest_stub.js"), new ResourceLink("contest.css"), problem.getProblem.getWidget(false))) { } {
    @* -- header -- *@
    @* <div class='info-box'>
        <h2>Задание <span class='folder-name'>@problem.</span></h2>
    </div> *@

    @* -- problem statement / answer -- *@

    <div id="problem-info" class="hidden">@Html(jsonProblemInfo)</div>

    <div class='problem-statement-answer'>
        <div class='problem'><span class='hidden pr_type'>@problem.getProblem.getType</span>
            @problem.getProblem.format("1", true, problem.getSettings, user.getContestRandSeed(contestId))
        </div>
    </div>
    <script type="text/javascript">
        $(function() {
            @*TODO when do they load this??*@
            localStorage.clear('kio-problem-contest-stub-problem-info-0-autosave');

            var $problem_div = $('.problem');
            @* TODO what if ans contains quotes*@
            var problem_info_as_json = $('#problem-info').text();
            var problem_info_as_object = JSON.parse(problem_info_as_json);
            dces2contest.solutions_loaders_registry['@problem.getProblem.getType']($problem_div, problem_info_as_object);
        });
    </script>
}