@()
@import java.io.File
<h2>Загрузка данных пользователей</h2>
@if(play.mvc.Controller.flash("fields-upload-ok") != null) {
    <p class='warning'>@play.mvc.Controller.flash("fields-upload-ok")</p>
}
@if(play.mvc.Controller.flash("fields-upload-error") != null) {
    <p class='warning'>@play.mvc.Controller.flash("fields-upload-error")</p>
}
<form enctype="multipart/form-data" method="POST" action="@routes.EventAdministration.doLoadUserFields(Event.currentId)">
    <input type="file" name="new-fields">
    <select name="regime">
        <option selected="selected" value="" disabled="disabled">Выберите режим</option>
        <option value="create">Создать</option>
        <option value="update">Обновить</option>
    </select>
    <input type="submit" value="Загрузить файл">
</form>

<br>
@files_list(new File(Event.current.getEventDataFolder, "user-data"), ServerConfiguration.getInstance().getResource("user places template.csv"))