@()
<h2>Загрузка данных пользователей</h2>
@if(play.mvc.Controller.flash("fields-upload-ok") != null) {
    <p class='warning'>@play.mvc.Controller.flash("fields-upload-ok")</p>
}
@if(play.mvc.Controller.flash("fields-upload-error") != null) {
    <p class='warning'>@play.mvc.Controller.flash("fields-upload-error")</p>
}
<form enctype="multipart/form-data" method="POST" action="@routes.EventAdministration.doLoadUserFields(Event.currentId)">
    <input type="file" name="new-fields">
    <input type="submit" value="Загрузить файл">
</form>