@import views.widgets.AdminWidget
@import views.htmlblocks.HtmlBlockWidget
@import views.widgets.FormsWidget
@import models.Event

@import scala.List
@import play.i18n.Messages
@import plugins.answersgallery.AnswersGallery
@(user:models.User, mayChange:Boolean, form:models.forms.RawForm, otherUser:Boolean, message:String)
@main_with_menu(Event.current.getTitle)(List(FormsWidget.get, HtmlBlockWidget.get, AdminWidget.get)) { } {
    @if(otherUser) {
        <h1>Личные данные пользователя @user.getLogin</h1>
    } else {
        @if(User.current.isPartialRegistration) {
            <h1>Введите недостающие данные, чтобы продолжить работу</h1>
        } else {
            <h1>@Messages.get("pages.user_info.title.simple")</h1>
        }
    }

    @if(!mayChange) {
        <div class="info-box">@Messages.get("page.user_info.changes_forbidden")</div>
    }

    @Event.current.getHtmlBlock("user_info_up").format

    @if(message != null) {
        <p class="warning">@Messages.get(message)</p>
    }

    @user.getRole.getEditUserForm.formatExtended(form, routes.UserInfo.doChangeInfo(Event.currentId, if(otherUser) user.getId.toString else null), true, "form.do_change")

    @if(!otherUser && user.getEmail != null) {
        <div class='info-box'>
            @if(user.isWantAnnouncements) {
                @Messages.get("page.user_info.you_are_subscribed", Event.current.getTitle)
                <a href='@routes.Application.setSubscription(Event.currentId, user.getId.toString, false)'>@Messages.get("page.user_info.do_unsubscribe")</a>
            } else {
                @Messages.get("page.user_info.you_are_not_subscribed", Event.current.getTitle)
                <a href='@routes.Application.setSubscription(Event.currentId, user.getId.toString, true)'>@Messages.get("page.user_info.do_subscribe")</a>
            }
        </div>
    }

    @Event.current.getHtmlBlock("user_info_down").format

    @* block 'registered by' *@

    @if(UserInfo.mayChange(User.current, user.getRegisteredByUser)) {
        <div class='info-box'>
            <p>
            @if(user.getRegisteredByUser != null) {
                Зарегистрирован через: @htmlfeatures.user_link(user.getRegisteredBy.toString, Event.currentId, user.getRegisteredByUser.getLogin)
            } else {
                Зарегистрирован напрямую @*TODO never shown, because of mayChange test*@
            }
            </p>
        </div>
    }

    @* block with visits information *@

    @if(otherUser || user.hasEventAdminRight) { @*Only event admin can see own visit info*@
        <div class='info-box'>
        @defining(user.getUserActivityEntry) { ua =>
            @if(ua == null) {
                <p>Посещений не было</p>
            } else {
                @user_visit(java.util.Arrays.asList(ua))
                <a href="@routes.UserInfo.showVisitInfo(Event.currentId, user.getId.toString)">еще...</a>
            }
        }
        </div>
    }

    @* block to substitute user (TODO: a right to see a user == a right to substitute a user) *@

    @if(otherUser) {
        <div class='info-box'>
            <form class='submit actions-substitute-user' method="post" action="@routes.Application.substituteUser(Event.currentId, user.getId.toString)"></form>
            <p>Зайти от имени пользователя <b><a href="#" class="submit actions-substitute-user" title="Зайти от имени пользователя @user.getLogin">@user.getLogin</a></b></p>
        </div>
    }

    @* block with list of started contests *@

    @defining(Event.current.getPluginByType(classOf[AnswersGallery]).asInstanceOf[AnswersGallery]) { answersGalleryPlugin =>
        @defining(answersGalleryPlugin != null && (User.currentRole().hasEventAdminRight || User.current.isUpper(user))) { show_answers_gallery =>

            @if(User.currentRole().hasRight("edit contest time")) {
                <div class="info-box">
                @defining(UserInfo.listOfContestsStartedByUser(user)) { contests =>
                    @if(contests.isEmpty) {
                        Пользователь еще не начинал соревнований
                    } else {
                        <table class="visits-list">
                            <thead>
                                <tr>
                                    <td>Соревнование</td>
                                    <td>Начало</td>
                                    <td>Окончание</td>
                                    <td>Статус</td>
                                    @*<td>Сбросить окончание</td> TODO: implement*@
                                    <td>Сбросить участие</td>
                                    @if(show_answers_gallery) {
                                        <td>Галерея решений</td>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                            @for(contest <- contests) {
                                @defining(user.getContestInfoCreateIfNeeded(contest.getId)) { info =>
                                    <tr>
                                        <td>@contest.getName</td>
                                        <td>@if(info.getStarted == null) { - } else {
                                            @info.getStarted
                                        }</td>
                                        <td>@if(info.getFinished == null) { - } else {
                                            @info.getFinished
                                        }</td>
                                        <td>@if(info.getStarted == null) { - } else {
                                            @if(user.userParticipatedAndFinished(contest)) {
                                                завершено
                                            } else {
                                                в процессе
                                            }
                                        }</td>
                                        @*
                                        <td>
                                        <form class="submit actions-reset-finish-@contest.getId" action="." method="POST"></form>
                                        <a href="#" class="submit actions-reset-finish-@contest.getId" title="Сбросить окончание @contest.getName">сбросить</a>
                                        </td>
                                        *@
                                        <td>
                                        @if(user.mayClearContestParticipation(contest)) {
                                            <form
                                            class="submit actions-reset-finish-@contest.getId"
                                            action="@routes.Contests.restartForUser(Event.currentId, contest.getId, user.getId.toString)"
                                            method="POST"
                                            ></form>
                                            <a
                                            href="#"
                                            class="submit actions-reset-finish-@contest.getId"
                                            title="Сбросить участие в @contest.getName"
                                            >сбросить</a>
                                        } else {
                                            -
                                        }
                                        </td>
                                        @if(show_answers_gallery) {
                                            <td>
                                                <a href="@answersGalleryPlugin.getCall("user", true, contest.getId + "/" + user.getId.toString)">Все решения</a>
                                            </td>
                                        }
                                    </tr>
                                }
                            }
                            </tbody>
                        </table>
                    }
                }
                </div>
            }
        }
    }
}