@(titles:java.util.List[String], data:java.util.List[Array[String]], index:Int)
@import views.widgets.ResourceLink
@main_with_menu(Event.current.getTitle)(scala.List(new ResourceLink("tables.css"))) { } {
    <p><a href="@routes.Tables.csvTable(Event.currentId, index)">загрузить csv</a></p>

    @*<table>
        <thead><tr>
        @for(title <- titles) {
            <td>@title</td>
        }
        </tr></thead>
    <tbody>
    @for(line <- data) {
        <tr>
        @for(element <- line) {
            <td style="border: 1px solid black">@element</td>
        }
        </tr>
    }
    </tbody>
    </table>*@

    <div class='data-table'>
    @for((line, line_ind) <- data.zipWithIndex) {<div class='dl'><div class='de' title='№'><b>@(line_ind + 1)</b></div>@for((element, ind) <- line.zipWithIndex) {<div class='de' title="@titles.get(ind)">@Html(element)</div>}</div>}
    </div>
}