@(isEmail:Boolean, email_or_login:String)
@import views.widgets.ResourceLink
@import views.MenuItem
@import play.data.DynamicForm
@import scala.List
@main_with_menu(Event.current.getTitle)(List()) { } {
    <h1>@if(isEmail){
        @Messages("page.wait_for_email.email_is_known.title", email_or_login)
    } else {
        @Messages("page.wait_for_email.email_unknown.title")
    }
    </h1>
    @if(! isEmail) {
        <p>@Messages("page.wait_for_email.email_unknown.text", email_or_login)</p>
    }
    <p>@Messages("page.wait_for_email.do_wait")</p>
}