@(isEmail:Boolean, email_or_login:String)
@import views.ResourceLink
@import views.MenuItem
@import play.data.DynamicForm
@import scala.List
@main_with_menu(Event.current.getTitle)(List(), List()) {
    <h1>@if(isEmail){
        На адрес @email_or_login
    } else {
        Вам
    }
    выслано письмо с дальнейшими инструкциями</h1>
    @if(! isEmail) {
        <p>Пользователю @email_or_login на электронный адрес, указанный при регистрации, выслано письмо для восстановления пароля.</p>
    }
    <p>Письмо может идти несколько минут. Если письмо не доходит, проверьте ящик со спамом.
}