div.answers {
    display: block;
    clear: both;
    margin: 0 30px 0 0;
    padding: 20px 5px 20px 5px;
}

.answer {
    /* нужно делать пробелы между радио-кнопками и стоящими рядом ответами и больше расстояние */
    margin: 0 25px 0 0;
    /* в 8 задаче "нет ответа" нужно сделать с новой строки (иначе получается перенос слова) */
    white-space: nowrap;
}

.answer input[type="radio"] {
    /* нужно делать пробелы между радио-кнопками и стоящими рядом ответами и больше расстояние */
    margin: 0 5px 0 0;
}

.answer img {
    /* в вариантах ответа сильных отступов справа не будет */
    margin: 5px;
}

.correct {
    margin: 2px 0 20px 0;
}

.problem p {
    display: block;
    max-width: 760px;
    clear: both;
    float: left;
    margin: 3px 0 0 0;
}

.left_image {
    float: left;
    margin: 7px 17px 7px 0;
}

.right_image {
    float: right;
    margin: 7px 0 7px 7px;
}

.task-statement p {
    margin-bottom: 7pt;
}

.correct-answer {
    display: none;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.country {
    display: none;
}

.country-info {
    font-size: 18px;
}

.task-scores {
    margin-left: 0.6em;
    margin-right: 0.6em;
    font-size: 18px;
}

.country-info img {
    margin: 0 0.2em 0 0.2em;
    vertical-align: bottom;
}

table.center {
    /*display: block;*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.center {
    text-align: center;
}

#button-finish {
    padding: 20px;
    font-size: 18pt;
    font-family: Arial, sans-serif;
    margin-top: 20px;
}

.task-answer-selector {
    width: 20px;
    /*height: 20px;*/
    border: solid 3px #36F;
    font-size: 14px;
    font-weight: 600;
    font-family: Arial, sans-serif;
    color: #000;
    text-align: center;
    background-color: #FFF;
    padding-top: 2px;
    cursor: pointer;
}

.task-answer-selector.active {
    background-color: #79F;
    color: #FFF;
    cursor: default;
}

.task-answer-selector.over {
    background-color: #BCF;
    color: #FFF;
}

.task-answers td {
    padding: 2px;
}

.answer-wrapper {
    float: left;
    margin-right: 20px;
}

.-ta {
    padding-right: 6pt;
}

.-aw {
    padding-right: 20pt;
}

#finish-confirmation input {
    padding: 6pt 10pt 6pt 10pt;
}

.answer-right {
    border-color: #33bb33;
}

.answer-user-right {
    background-color: #47ff47;
    color: #000;
}

.answer-user-wrong {
    background-color: #ff6666;
    border-color: #ff3344;
}

.code {
    font-family: monospace;
    font-size: 11pt;
}

ul {
    padding-left: 24pt;
}

li {
    padding-left: 8pt;
    margin-bottom: 4pt;
    list-style: square;
}

input[type="button"] {
    background-color: #36f;
    color: #fff;
    border: 1px solid #bcf;
}

input[type="button"]:hover {
    background-color: #2993dd;
}

#results-text {
    text-align: left;
}

#problems-loader-holder {
    color: red;
    text-align: center;
}

/*Информация о соревновании*/
#contest-info {
    background-image: url(../images/pw3yo6j.png);
    position: fixed;
    right: 0;
    top: 0;
    font-size: 1.7em;
    padding: 8px;
}

#hide-contest-info-wrapper {
    margin: 0 auto;
}

#contest-info-inside {
    background-color:#DEF;
    box-shadow:0 0 10px #222 inset;
    width: 100%;
    height: 100%;
}

#contest-info-wrapper {
    padding: 6px 10px;
}

#contest-info-wrapper img {
    cursor: pointer;
    display: inline;
    vertical-align: middle;
}

#hide-contest-info-wrapper {
    margin: 0 auto;
    text-align: center;
}

#clock-time {
    font-weight: 600;
}

#answers-sending-info-popupper .warning {
    text-align: center;
    cursor: pointer;
}

#answers-sending-info-popupper {
    font-size: 0.75em;
    color: white;
    background-color: red;
    border: solid 1px #880000;
    border-radius: 4px;
    margin-top: 4px;
    padding: 4px;
}

#answers-sending-info a {
    color: white;
    text-decoration: underline;
    display: block;
    text-align: center;
}

/* flash stuff */
.flash-and-blocker-wrapper {
    position: relative;
}

.flash-blocker {
    position: absolute;
    z-index: 2;
    background: #0000FF;
    opacity: 0.1;
}

.flash-spacer {
    height: 10px;
}

/*.dynamic-app-wrapper {*/ /*this works, but I failed to place flash-blocker over this moved flash*/
    /*display: block;*/
    /*margin: 0 auto;*/
/*}*/

.dyn-answer-info {
    color: red;
}

.answer-controls {
    padding: 4px;
    border: 1px solid red;
    border-radius: 4px;
}

.answer-controls.answer-already-given {
    border-color: green;
}

.answer-controls.answer-already-given .dyn-answer-info {
    color: green;
}

.answer-controls input {
    padding: 2px 6px;
    margin-left: 0.6em;
}